$('#instructor-map-target').replaceWith('<%= j render partial: "address", locals: {t: params[:t].to_i} %>');
$('#edit-instr-address').click(function(){$(this).replaceWith('<div class="wait-container dib middle-align"><span></span><span></span><span></span><span></span></div>')});