<% content_for :title do %>
	<title>Live Workout Classes | Homeward Fitness</title>
<% end %>
<div class="main-container">
	<h3>No live classes are available at this time. Please check back later.</h3>
</div>