<div style="padding-top: 10px">
	<div style="margin:20px auto;max-width:700px;border-bottom:1px solid #ddd;background-color:#fff;text-align:left">
		<table style="border-bottom:1px solid #ddd; width:100%"><tbody><tr><td style="padding:5px"><a href="<%= @email_domain %>" ><img alt="Homeward Fitness Logo" src="https://s3.us-east-2.amazonaws.com/homewardfitness/hf_logo.png" style="width:136px;margin-top:4px"></img></a></td></tr></tbody></table>