<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<%= render partial: "main_mailer/email_top" %>
				<div style="padding:10px">
					<h2 style="color:#333;margin-bottom:30px">Password Reset Successful</h2>
					<p style="font-size:16px;color:#333">
						Hello again <%= @user.name.split(" ")[0] %>,
					</p>
					<p style="font-size:16px;color:#333">
						We wanted to let you know that you have successfully reset your Homeward Fitness password.
					</p>
					<p style="font-size:16px;color:#333">The Homeward Fitness Team</p>
				</div>
			</div>
			<%= render partial: "main_mailer/email_bottom", locals: {unsub: false} %>
		</div>
	</body>
</html>