<% content_for :title do %>
	<title>About Us | Homeward Fitness</title>
<% end %>
<div class="nav-filler"></div>
<div class="white-bg">
	<div class="cool-bg text-center marg-bottom-50">
		<div class="cool-overlay o-2">
			<div class="m-width-450 m-auto">
				<div class="cool-head about">About Us</div>
				<div class="cool-text">Welcome to Homeward Fitness, the first home workout online community of its kind.</div>
			</div>
		</div>
	</div>
	<div class="info-page text-center">
		<div class="info-line"></div>
		<div class="info-section">
			<h1>Our Vision</h1>
			<h4>Our vision is to connect people from across the world through a platform that embraces fitness, convenience and collaboration.</h4>
		</div>
		<div class="info-line"></div>
		<div class="info-section">
			<h1>Our Mission</h1>
			<h4>Our mission is to provide people of all fitness levels a convenient and fun way to exercise remotely.</h4>
		</div>
		<div class="info-line"></div>
		<div class="info-section">
			<h1>Who We Are</h1>
			<h4>Homeward Fitness was founded in Charlotte, North Carolina in 2018 by couple of folks with a passion for fitness and software. Our team consists of software developers and personal trainers alike, 
			keeping our fitness community afloat and thriving with a seamless web platform and high-quality workout content.</h4>
		</div>
		<div class="info-line"></div>
		<div class="info-section">
			<h1>Keep In Touch</h1>
			<h4>We'd love to hear from you, so please <a href="/contact-us">contact us through our website</a> or email us at 
			<a href="mailto:support@homewardfitness.com">support@homewardfitness.com</a> for anything you might need. You can also follow us on <a href="https://facebook.com/HomewardFitness/">Facebook</a>, 
			<a href="https://twitter.com/HomewardFitness">Twitter</a> and <a href="https://instagram.com/homewardfitness/">Instagram</a>.<h4>
		</div>
	</div>
</div>
