<li class="dropdown">
	<a class="dropdown-toggle nav-link" title="Administrative Links" data-toggle="dropdown">
		<div class="nav-icon dib"><i class="fas fa-user-lock"></i></div>
	</a>
	<ul id="admin-menu" class="dropdown-menu default-menu text-left">
		<li><a href="/workouts/new" data-turbolinks="false"><div class="nav-icon dib"><i class="fas fa-plus"></i></div> New Workout</a></li>
		<li><a href="/instructors/new"><div class="nav-icon dib"><i class="fas fa-plus-circle"></i></div> New Instructor</a></li>
		<li><a href="/invite-owner"><div class="nav-icon dib"><i class="fas fa-user-plus"></i></div> Invite Owner</a></li>
		<li><a href="/active-workouts" data-turbolinks="false"><div class="nav-icon dib"><i class="far fa-flag"></i></div> Active Workout Dashboard</a></li>
		<li><a href="/all-contacts"><div class="nav-icon dib"><i class="far fa-envelope"></i></div> Contact Us Dashboard</a></li>
		<li><a href="/all-badges"><div class="nav-icon dib"><i class="fas fa-ribbon"></i></div> Badge Dashboard</a></li>
		<li><a href="/all-users" data-turbolinks="false"><div class="nav-icon dib"><i class="fas fa-users"></i></div> User Dashboard</a></li>
	</ul>
</li>