<ul id="alert-menu" class="dropdown-menu text-left">
	<div class="alt-menu-header">Alerts <span class="text-right dib"><a class="text-small" href="/read-alerts" data-remote="true" data-method="patch">Mark All As Read</a></span></div>
	<%= render partial: "layouts/alerts_content" %>
</ul>