<div id="like-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" id="like-content">
			<div class="wait-container add-pad-30 text-center"><span></span><span></span><span></span><span></span></div>
		</div>
	</div>
</div>